#a1{
    margin-left: 60px;
}
#h1{
    font-weight: bold;
}
#p1{
    font-weight: 110; font-size:large;
}
#but1{
    background-color: white; color: black; padding: 20px 35px;}
#p2{
    font-size:large;
}
#ul1{
    font-weight:100;
}